/* 
                                                                       
  
*************************************
* @AUTHOR: Anibe Samuel             *
* @CopyRight: 2023 anibesam.com     *
* @Date: 29-07-2023                 *
 ************************************* 

*/


@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
@layer base {

 

  @font-face {
    font-family: 'Quadra';
    src: url('/fonts/quadra-regular.otf') format('opentype');
  }

  @font-face {
    font-family: 'Quadra';
    src: url('/fonts/quadra-bold.otf') format('opentype');
  }

 

html {
  font-size: 100%;
  font-family: 'Inter', sans-serif;


}
  body {
    @apply bg-[#FFFFFF] text-gray-900;
    @apply min-h-screen;
    font-family: 'Nunito', sans-serif;

    
  }

  ::selection {
    @apply text-white bg-indigo-500;
  }

  
  /*.btn{
    @apply inline-block px-5 py-3 rounded-lg hover:bg-indigo-600 transition duration-300 shadow-lg bg-indigo-500 text-white capitalize tracking-wider font-semibold text-sm sm:text-xl focus:outline-none focus:ring-4 focus:ring-indigo-500 focus:ring-opacity-50 whitespace-nowrap
  }

  */

 
 



a {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
}



h1{
  font-family: 'Quadra', sans-serif;
}


p{
  font-family: 'Nunito', sans-serif;
}


.btn{
  font-family: 'Nunito', sans-serif;

}

}